@page "/mars-photos"
@inject MarsForever.Services.NasaPhotoController PhotoController
@using MarsForever.Data;

<h3>Mars Photos</h3>

@if (photoUrls == null)
{
    <p>Loading...</p>
}
else if (photoUrls.marsRoverPhotos.Count == 0)
{
    <p>No photos available.</p>
}
else
{
    <div class="photo-container">
        @foreach (var photoUrl in photoUrls.marsRoverPhotos)
        {
            <img src="@photoUrl.imageUrl" alt="Mars Photo">
        }
    </div>
}

@code {
    private PhotoResponse photoUrls;

    protected override async Task OnInitializedAsync()
    {
        await LoadPhotosAsync();
    }

    private async Task LoadPhotosAsync()
    {
        try
        {
            this.photoUrls = await PhotoController.GetCursoityRoverPhotos();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to load Mars photos: {ex.Message}");
        }
    }
}

